mixin storeForm(store = {})
  form(method="POST" action=`/add/${store.id || ''}` class="card" enctype="multipart/form-data")
    label(for="name") Name
    input(type="text" name="name" value=store.name)
    label(for="description") Description
    textarea(name="description", cols="30", rows="10") #{store.description}
    //- Image Uploading
    label(for="picture") Picture
      input(type="file" name="picture" id="picture" accept="image/png,image/jpeg,image/gif")
      if store.picture
        img(src=`/uploads/${store.name}`, alt="store.name" width="200px")
    //- address, lng and lat
    label(for="address") Address
    input(type="text" name="location[address]" id="address" 
      value=(store.location && store.location.address))
    label(for="lng") Address Longitude
    input(type="text" id="lng" name="location[coordinates][0]" 
      value=(store.location && store.location.coordinates[0]) required)
    label(for="lat") Address Latitude
    input(type="text" id="lat" name="location[coordinates][1]" 
      value=(store.location && store.location.coordinates[1]) required)
    - const choices = ['Wifi', 'Open Late', 'Family Friendly', 'Vegeterian', 'Licensed']
    - const tags = store.tags || []
    ul.tags
      each choice in choices
        .tag.tag__choice
          input(type="checkbox" name='tags' value=choice id=choice 
          checked=(tags.includes(choice)))
          label(for=choice) #{choice}
    input(type="submit" value="Save" class="button")